
  <!-- Contacto -->
  <div class="container" id="contact" style="padding-top:50px; padding-bottom:100px;">
    <h2>Contacto</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, fugiat dolores dignissimos incidunt unde porro architecto tenetur quisquam similique recusandae consectetur hic, quae, natus facilis nulla doloremque repellat voluptatibus! Harum.</p>


    
      <form class="row g-4 pt-3">
        <div class="col-md-3">
          <label for="email" class="form-label d-flex align-items-center"><p class="fw-bold ms-auto text-center pt-1">Your Email</p></label>
        </div>
        <div class="col-md-9 ms-auto">
          <input type="email" placeholder="Your email" class="form-control" id="email" name="email" required>
        </div>
        <div class="col-md-3 mt-0">
          <label for="message" class="form-label d-flex align-items-center"><p class="fw-bold ms-auto text-center">Your Message</p></label>
        </div>
        <div class="col-md-9 mt-0">
          <textarea class="form-control" placeholder="Please enter your message here..." id="message" name="message" rows="4" required></textarea>
        </div>
        <div class="col-12 text-end">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div> 
