<!-- Second Heading -->
<div class="container" style="padding-top:50px; padding-bottom:50px;">
    <div class="row" id="services">  
        <div class="col-sm-4">
            <div class="rounded-circle">
              <img class=" img-fluid rounded-circle mx-auto d-block" src="https://images.pexels.com/photos/10111958/pexels-photo-10111958.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
            </div>
          </div>
      <div class="col-sm-8">
          <h2>The Second Heading <span class="text-secondary">Is Pretty Cool Too</span></h2> 
          <p style="font-size: large">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate nesciunt dignissimos est veniam doloribus dolore amet, quaerat, quo consequatur minus harum numquam praesentium odit.</p>
      
      </div>
    </div>
  </div>
